<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Forget Password</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <link rel="icon" type="image/png" href="/img/flog.png">
</head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xm-12 align-items-center">
          <div class="text-center">
            <img alt="Vue logo" src="/img/flog.png" class="logo">
            <h1 class="login-h1">Forget Password</h1>
          </div>
          <form id="admin-login" method="POST" action="">
            <div class="my-form-group">
              <input class="form-input" type="email" name="email" placeholder="Email Address">
              <% if (error.email) { %>
              <label class="error"><%= error.email.msg %></label>
              <% } %>
            </div>
            <div class="my-form-group">
              <button class="login-button" type="submit">Send Link</button>
            </div>
          </form>
          <div class="forget-password">
            <a href="/login">Remember Password? Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#admin-login').validate({
        rules: {
          email: {
            required: true
          }
        },
        messages: {
          email: {
            email: "Please provide a valid Email Address",
            required: "Please provide your Email Address",
          }
        },
        submitHandler: function(form) {
          $("#submit").attr("disabled", true).click(function(e) {
            e.preventDefault();
          });
          $("#ibtn2").show();
          $("#submit").text("Signing in...");
          form.submit();
        }
      });
    })
  </script>
</body>
<%- include("./alert") %>
</html>